# Project exclude paths
/venv/
/dist_venv/
/dist_venv1/
/dist_venv2/
/dist_venv3/
.idea
/Processing Software/dist/
/Processing Software/build/
/Processing Software/BFTool.spec
/build/
/dist/
/BFTool.spec
